/* Resets */
ul {
	padding:0;
	margin:0 0 20px 0;
	list-style:none;
}

h1, h2 {
	padding:0;
	margin:0 0 20px 0;
	font-weight:normal;
}

p {
	padding:0;
	margin:0 0 20px 0;
}
#date{
	margin-left: 7%;
	margin-right: 7%;
	background-color: #f9f9f9;
	color: black;
	border: 3px solid black;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 5px;
}
#date:hover{
	background-color: black;
	color: #f9f9f9;
	border-radius: 5px;
	font-weight: bolder;
}
a:link, a:visited {
	background-color: #f9f9f9;
	color: black;
	border: 3px solid black;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 5px;
}

a:hover, a:active {
	background-color: black;
	border-radius: 5px;
	color: #f9f9f9;
}
.small{
	font-size: .8em;
}
ul li {
	padding:5px 0;
}

ul li input[type="text"], ul li input[type="password"] {
	width:150px;
}

textarea {
	width:400px;
	height:150px;
}

/* Headers */
h1 {
	font-size:1.8em;
}

h2 {
	font-size:1.4em;
}

.logo {
	font-family: 'Faster One', cursive;
	font-size: 3em;
	text-align: center;
	margin:0 0 10px 0;
	padding:0;
}

/* Containers */
#container, footer {
	background-color: #f9f9f9;
	width:980px;
	margin:0 auto;
	padding:20px;
}

header {
	background-color: #f9f9f9;
	width:990px;
	padding:10px;
	margin:0 auto 0 auto;
	border-radius: 15px;
	border-bottom: 3px dashed #aaa;
}

#container {
	min-height:500px;
	border-radius: 15px;
}

footer {
	border-radius: 15px;
}

.widget {
	margin-bottom:20px;
}

.widget h2 {
	margin:0 0 10px 0;
	padding:0 5px;
	font-weight:normal;
	border-bottom:1px solid #ddd;
}

.widget .inner {
	margin:0 10px;
}

/* Navigation */
nav {
	font-family: 'Cinzel';
	font-size: 1em;
	float:left;
}

nav ul {
	margin:0;
}

nav ul li {
	display:inline;
	margin-right:10px;
}

nav ul li a {
	text-decoration:none;
}

nav ul li.current {
	font-weight:bold;
}

nav ul li a.last {
	border-right:0;
}

/* Aside */
aside {
	float: right;
	width:260px;
	border-left:3px dashed #aaa;
	border-bottom: 3px dashed #aaa;
	padding-left: 15px;
}
#side{
	font-family: Arial, sans-serif;
	font-size: 12px;
	margin: 10px;
}

#notLoggedIn label {
	position: relative;
	vertical-align: middle;
	bottom: 1px;
}
#notLoggedIn input[type=text],#notLoggedIn input[type=password],
#notLoggedIn input[type=submit],#notLoggedIn input[type=email] {
	display: block;
	margin-bottom: 15px;
}
#notLoggedIn input[type=checkbox] {
	margin-bottom: 15px;
}

.profile {
	background:#f9f9f9;
	border:1px dashed #ccc;
	padding:5px;
}

.profile img {
	width:100%;
}

/* Login */
#login li.link {
	margin-top:5px;
}

/* Footer */
footer {
	border-top:3px dashed #ddd;
	color:#999;
}

/* Misc */
.clear {
	clear:both;
}

button#button{
	float: left;
	margin: 5px;
	padding: 5px 15px;
	margin-left: 125px;
}

.calendar th{
	height: 40px;
	font-size: 1.4em;
}
.calendar td{
	height: 45px;
	width: 80px;
	text-align: center;
	font-weight: bolder;
	font-size: 1.0em;
}

#studentScores td{
	text-align: center;
	height: 50px;
}

#studentScores tr:hover {
	background-color: lemonchiffon;
}

#studentScores tr:nth-child(even){
	background-color: antiquewhite;
}